/*variables colors*/

$fondo: rgb(111, 14, 74);
$dark: black;
$light: white;
$color-primario: rgb(157, 82, 157);
$border-secundario: black;

/*variables spacings*/

$spacing-xlarge: 10rem;
$spacing-large: 8rem;
$spacing-medium: 6rem;
$spacing-small: 4rem;
$spacing-xsmall: 2rem;

/*variables fonts*/

$titulosprincipales: 'Island Moments', cursiva;
$subtitulosprincipales: 'Rubik Vinyl', cursiva;
$parrafos: 'Noto Sans', sans-serif;
$minititulos: 'Satisfacer', cursiva;
$tituloscards: 'Crimson Text', serif;
$fuenteanclas: 'Dancing Script', cursiva;

/*variables texts*/

$text-xlarge: 4.5em;
$text-large: 3em;
$text-medium: 2em;
$text-small: 1.6em;
$text-xsmall: 1.2em;


